/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
.flexbox-container {
    width: 100%;
    display: flex;
}

.sidebar {
    width: 30%;
    /* DEBUG */
    min-height: 400px;
    background-color: blue;
}

main {
    width: 70%;
    height: 400px;
    background-color: pink;
}